Server/.vs/
Server/App.Api/bin/
Server/App.Api/obj/
Server/App.Common/bin/
Server/App.Common/obj/
Server/App.Core/bin/
Server/App.Core/obj/
Server/App.Data.Model/bin/
Server/App.Data.Model/obj/
Server/App.Data/bin/
Server/App.Data/obj/
Client/node_modules/
